<div class="pt-20"></div>
<div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
  <% if @user.avatar.attached? %>
    <%= image_tag(@user.avatar, size: "50x50",class: "h-48 w-full object-cover object-center mx-auto") %>
  <% else %>
    <%= image_tag("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", size: "50x50",class: "h-48 w-full object-cover object-center mx-auto") %>
  <% end %>
  <%#  unless is_friend?(@user) %>
  <% if current_user && @user != current_user && current_user.friends.exclude?(@user)%> <!--- if logged in and not the same user as logged in user, and user is not friends with logged in user-->
    <div class="flex items-center px-6 py-3 bg-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 172 172" style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#ffffff">
            <path d="M69.875,5.375c-5.9209,0 -14.38232,1.84766 -19.64185,5.396c-10.00464,0.36743 -16.84936,7.39063 -17.97266,18.52905c-0.68237,6.87622 -0.05249,11.7998 0.35693,15.0542c0.14697,1.13379 0.30444,2.41455 0.25195,2.79248c-0.08398,0.50391 -0.16797,1.00781 -0.24146,1.51172c-0.44092,0.02099 -0.82935,0.08398 -1.17578,0.17847c-4.43017,1.18628 -6.28833,7.66358 -4.3042,15.0647c1.43823,5.3645 4.45117,9.39575 7.74756,10.63452c1.70068,5.20703 4.19922,10.38257 7.30664,15.0437l-24.77539,14.35083c-10.75,6.21484 -17.42676,17.80469 -17.42676,30.22388v19.03296c0,4.44067 3.62183,8.0625 8.0625,8.0625h103.84668c6.36182,6.61377 15.27466,10.75 25.15332,10.75c19.26392,0 34.9375,-15.67358 34.9375,-34.9375c0,-15.28516 -9.88916,-28.28174 -23.58911,-33.00586l-23.35815,-15.11719c3.46436,-4.12573 6.35132,-9.25928 8.18848,-14.73926c2.55103,-1.11279 4.79761,-4.15723 5.8894,-8.28296c0.66138,-2.46704 0.79785,-4.95508 0.36743,-7.0127c-0.5354,-2.66651 -2.02612,-4.51416 -4.06274,-5.06006c-0.13647,-0.04199 -0.28345,-0.07348 -0.44092,-0.09448c-0.27295,-1.76367 -0.73486,-3.48535 -1.46973,-5.59546c0.48291,0.12598 1.00781,0.29395 1.45923,0.47241c0.91333,0.38843 1.98413,0.23096 2.75049,-0.41992c0.77686,-0.64038 1.12329,-1.65869 0.91333,-2.63501c-3.30689,-15.12768 -14.53979,-24.15601 -30.03491,-24.15601h-1.99463c-0.40942,0 -0.86084,0.03149 -1.29126,0.06299c-7.09668,-10.28809 -18.55005,-16.10401 -32.7644,-16.10401zM69.875,10.75h2.6875c16.31397,0 28.09277,8.33545 32.92188,23.06421c-1.85815,-0.20996 -3.7793,0.021 -5.09155,1.29126c-1.02881,0.97632 -1.99463,2.85547 -0.77686,6.17285c1.65869,4.50366 2.24658,7.17017 2.42505,10.94946c0.04199,0.96582 0.60889,1.82666 1.45923,2.26758c0.85034,0.43042 1.87915,0.37793 2.6875,-0.14697c0.44092,-0.28345 0.67188,-0.31494 0.72436,-0.31494c0.65088,0.22046 1.82666,3.49585 0.49341,8.48242c-1.32276,4.94458 -3.86328,7.03369 -4.65064,7.03369c-1.19678,-0.03149 -2.23608,0.78735 -2.57202,1.92114c-4.53516,15.23267 -16.38745,30.6543 -30.30786,30.6543c-13.92041,0 -25.77271,-15.42163 -30.30786,-30.6543c-0.33594,-1.13379 -1.37524,-1.92114 -2.57202,-1.92114c-0.78735,0 -3.32788,-2.08911 -4.65064,-7.03369c-1.34375,-5.02857 -0.13647,-8.31445 0.48291,-8.48242c0.0105,0 0.24146,0 0.72436,0.31494c0.81885,0.5249 1.84766,0.57739 2.698,0.14697c0.86084,-0.44092 1.40674,-1.30176 1.45923,-2.26758c0.06299,-1.40674 0.20996,-2.80298 0.45142,-4.14673c0.19946,-1.15478 0.04199,-2.44604 -0.20996,-4.40918c-0.38843,-3.01294 -0.96582,-7.56909 -0.33594,-13.83642c0.85034,-8.57691 5.87891,-13.71045 13.48999,-13.71045c0.58789,0 1.14429,-0.18896 1.6167,-0.5354c3.68481,-2.76098 11.05444,-4.8396 17.15381,-4.8396zM108.43433,26.79102h0.18897c11.48486,0 19.8728,5.68994 23.56811,15.78906c-1.20728,0.021 -2.39355,0.32544 -3.28589,1.18628c-0.92383,0.87134 -1.79517,2.51953 -0.74536,5.33301c1.20728,3.29639 1.6377,5.22803 1.76367,7.96802c0.04199,0.96582 0.59839,1.82666 1.45923,2.26758c0.83984,0.41992 1.83716,0.37793 2.63501,-0.11548c0.33594,0.75586 0.62988,2.6875 -0.07349,5.31201c-0.82935,3.07593 -2.37256,4.61914 -2.80298,4.74512h-0.0105c-1.18628,0 -2.23608,0.77685 -2.57202,1.92114c-2.24658,7.55859 -6.71875,14.4978 -11.94678,18.55005c-1.17578,0.91333 -1.39624,2.60352 -0.48291,3.7688c0.5249,0.69287 1.32275,1.0498 2.1206,1.0498c0.57739,0 1.15479,-0.17847 1.64819,-0.5564c0.45142,-0.35693 0.89234,-0.75586 1.33325,-1.13379l14.41382,9.32227c-4.24121,0.16797 -8.28296,1.0603 -12.00977,2.61401c-0.45141,-0.28345 -0.85034,-0.61939 -1.31226,-0.88184l-24.77539,-14.35083c3.10742,-4.66113 5.59546,-9.83667 7.30664,-15.0437c3.28589,-1.23877 6.30933,-5.25952 7.73706,-10.63452c1.98413,-7.40112 0.13648,-13.87842 -4.2937,-15.0647c-0.33594,-0.08398 -0.73486,-0.15747 -1.17578,-0.17847c-0.36743,-2.87647 -1.10229,-5.56397 -2.46704,-9.23828c-0.03149,-0.10498 -0.06299,-0.19946 -0.09448,-0.28345c0.94483,0.07349 2.46704,0.46191 3.70581,0.96582c0.93433,0.38843 1.99463,0.23096 2.76099,-0.41992c0.76636,-0.64038 1.11279,-1.65869 0.89233,-2.63501c-0.80835,-3.70581 -1.98413,-7.13867 -3.48535,-10.25659zM55.16724,27.21094c-1.92114,-0.16797 -3.85278,0.70337 -4.95508,2.39355l-4.3147,6.54028c-0.81885,1.23877 -0.47241,2.90796 0.76636,3.72681c0.46191,0.30444 0.96582,0.44092 1.46973,0.44092c0.88184,0 1.73218,-0.41992 2.25708,-1.20728l4.3042,-6.54028l4.19922,2.04712c7.65308,3.72681 16.20898,5.70044 24.7229,5.70044h6.86572c1.48022,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875h-6.86572c-7.70557,0 -15.44262,-1.78467 -22.36084,-5.16504l-4.19922,-2.04712c-0.60889,-0.29395 -1.24927,-0.46191 -1.88965,-0.5144zM45.43555,93.90503c6.54028,7.97852 15.0437,13.59497 24.43945,13.59497c9.39575,0 17.89917,-5.60596 24.43945,-13.58447l23.85156,13.80493c-9.63721,6.23584 -16.04102,17.04883 -16.04102,29.34204c0,6.92871 2.04712,13.37451 5.54297,18.8125h-99.60547c-1.48022,0 -2.6875,-1.20728 -2.6875,-2.6875v-19.03296c0,-10.50854 5.64795,-20.31372 14.74976,-25.58374zM137.0625,107.5c16.30347,0 29.5625,13.25903 29.5625,29.5625c0,16.30347 -13.25903,29.5625 -29.5625,29.5625c-16.30347,0 -29.5625,-13.25903 -29.5625,-29.5625c0,-16.30347 13.25903,-29.5625 29.5625,-29.5625zM48.54297,107.5c-1.0498,-0.06299 -2.07861,0.49341 -2.57202,1.48022c-0.66138,1.33325 -0.12598,2.94995 1.19678,3.61133l21.5,10.75c0.38843,0.18897 0.79785,0.28345 1.20728,0.28345c0.40942,0 0.82935,-0.09448 1.20728,-0.28345l21.5,-10.75c1.32275,-0.66137 1.85815,-2.27808 1.19678,-3.61133c-0.66137,-1.32275 -2.27808,-1.85815 -3.61133,-1.19678l-20.29272,10.15161l-20.29272,-10.15161c-0.33594,-0.16797 -0.69287,-0.25195 -1.03931,-0.28345zM137.0625,118.25c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v13.4375h-13.4375c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.20728,2.6875 2.6875,2.6875h13.4375v13.4375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-13.4375h13.4375c1.48022,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875h-13.4375v-13.4375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM16.125,139.75c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM29.5625,139.75c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM43,139.75c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM56.4375,139.75c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM69.875,139.75c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM83.3125,139.75c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875zM96.75,139.75c-1.48022,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.20728,2.6875 2.6875,2.6875c1.48022,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.20728,-2.6875 -2.6875,-2.6875z"></path>
          </g>
        </g>
      </svg>
      <h1 class="mx-3 text-white font-semibold text-lg -py-6">
        <%= link_to 'Add Friend', friendships_path(friendship: {friend_id: @user.id, user_id: current_user.id}), method: :post%>
      </h1>
    <% elsif current_user.friends.include?(@user) %>
      <div class="flex items-center px-6 py-6 bg-gray-900">
      </div>
      <div class="flex items-center px-6 bg-gray-900">
      <% else %>
        <div class="flex items-center px-6 py-6 bg-gray-900">
        <% end %>
      </div>
      <div class="py-4 px-6">
        <h1 class="text-xl font-semibold text-gray-800"><%= @user.first_name %> <%= @user.last_name %></h1>
        <p class="py-2 text-gray-700"><% if current_user == @user %>
            <%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Delete Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></p>
        <div class="flex items-center mt-4 text-gray-700">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 11H10V13H14V11Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89545 7.89539 2 9 2H15C16.1046 2 17 2.89545 17 4V5H20C21.6569 5 23 6.34314 23 8V18C23 19.6569 21.6569 21 20 21H4C2.34314 21 1 19.6569 1 18V8C1 6.34314 2.34314 5 4 5H7ZM9 4H15V5H9V4ZM4 7C3.44775 7 3 7.44769 3 8V14H21V8C21 7.44769 20.5522 7 20 7H4ZM3 18V16H21V18C21 18.5523 20.5522 19 20 19H4C3.44775 19 3 18.5523 3 18Z"/>
          </svg>
          <h1 class="px-2 text-sm"><%= link_to 'Friends:', friendships_path(@user) %> <%= @user.friends.count %></h1>
        </div>
        <div class="flex items-center mt-4 text-gray-700">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z"/>
          </svg>
          <h1 class="px-2 text-sm">  <%= link_to 'Friend Requests:', friendships_path(@user) %> <%= @user.pending_friends.count %></h1>
        </div>
        <div class="flex items-center mt-4 text-gray-700">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"/>
          </svg>
          <h1 class="px-2 text-sm"><%= @user.email %></h1>
        </div>
      </div>
    </div>
    <h1 class="max-w-sm mx-auto underline text-xl font-semibold text-gray-800 text-left mt-4">Posts:</h1>
    <% @posts.each do |p| %>
      <div class="max-w-sm mx-auto p-6 bg-white rounded-lg shadow-xl mt-4">
        <h4 class="text-xl text-gray-900 leading-tight"><%= p.title %></h4>
        <p class="text-base text-gray-600 leading-normal"><%= p.content %></p>
        <div class="flex flex-row md:flex-row md:items-center md:mx-0">
          <div><%= link_to likes_path(like: {user_id: current_user.id, likeable_id: p.id, likeable_type: p.class}), remote: true, method: :post do %>
              <%= image_tag 'like.svg', size: "25x25"%></div>
          <% end %>
          <div>(<%= p.likes.count %>) </div>
          <p class="text-sm text-gray-900 leading-normal pl-1"><% if current_user == @user %><%= link_to 'Edit', edit_post_path(@user, id: p) %> | <%= link_to 'Delete', post_path(p), method: :delete %> | <% end %> <%= link_to 'Comment', new_comment_path(user_id: @user, post_id: p) %></p>
        </div>
      </div>
    <% end %>
    <div class="flex content-center justify-center text-gray-700"><%= will_paginate @posts, class:"apple-pagination items-center" %></div>
<div class="pb-20"></div>
