<!DOCTYPE html>
<html>
  <head>
    <title>Salus Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="flex-col bg-gray-200">
      <nav class="bg-white">
        <div class="container fixed mx-auto px-6 py-3 bg-white max-w-none">
          <div class="md:flex md:items-center md:justify-between">
            <div class="flex justify-between items-center">
              <div class="text-xl font-semibold text-gray-700">
                <% if current_user %>
                  <%= link_to 'Home', authenticated_root_path, class: "text-gray-800 text-xl font-bold hover:text-gray-700 md:text-2xl" %>
                <% else %>
                  <%= link_to 'Home', unauthenticated_root_path, class: "text-gray-800 text-xl font-bold hover:text-gray-700 md:text-2xl" %>
                <% end %>
              </div>
              <!-- Mobile menu button -->
              <div class="flex md:hidden">
                <button type="button" class="text-gray-500 hover:text-red-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                  <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                  </svg>
                </button>
              </div>
            </div>
            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="hidden md:flex md:items-center md:justify-between flex-1">
              <div class="flex flex-col -mx-4 md:flex-row md:items-center md:mx-8">
                <%= link_to 'Find Friends', users_path, class: "mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 font-medium rounded-md hover:bg-gray-300" %>
                <%= link_to 'New Post', new_post_path(post:{user_id: current_user}), class: "mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 font-medium rounded-md hover:bg-gray-300" %>
              </div>
              <% if current_user.pending_friends.count >= 1 %>
                <div class="flex items-center mt-4 md:mt-0">
                  <%= link_to friendships_path, class: "mx-4 hidden md:block text-indigo-600 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none" do %>
                    <svg class="h-6 w-6" viewBox="0 0 24 24" fill="#667eea" stroke="#667eea" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9" stroke="#667eea" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  <% end %>
                <% else %>
                  <div class="flex items-center mt-4 md:mt-0">
                    <button class="mx-4 hidden md:block text-gray-600 hover:text-gray-700 focus:text-gray-700 focus:outline-none" aria-label="show notifications">
                      <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  <% end %>
                  <button type="button" class="flex items-center focus:outline-none" aria-label="toggle profile dropdown">
                    <div class="h-8 w-8 overflow-hidden rounded-full border-2  border-gray-400">
                      <% if current_user.avatar.attached? %>
                        <%= link_to user_path(current_user) do %>
                          <%= image_tag(current_user.avatar, size: "50x50",class: "h-48 w-full object-cover object-center mx-auto") %>
                        <% end %>
                      <% else %>
                        <%= link_to user_path(current_user) do %>
                          <%= image_tag("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", size: "50x50",class: "h-48 w-full object-cover object-center mx-auto") %>
                        <% end %>
                      <% end %>
                    </div>
                  </button>
                  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 font-medium rounded-md hover:bg-gray-300" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <% if notice %>
      <div class="bg-indigo-900 text-center pt-16 pb-2 lg:px-4">
        <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
          <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Notice</span>
          <span class="font-semibold mr-2 text-left flex-auto"><%= notice %></span>
          <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="bg-indigo-900 text-center pt-16 pb-2 lg:px-4">
        <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
          <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Alert</span>
          <span class="font-semibold mr-2 text-left flex-auto"><%= alert %></span>
          <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
